.manage-items-title {
    text-align: left;
    font-weight: 550;
    margin-bottom: 30px;
  }

  .table-container thead,
  .table-container tbody {
    display: table; /* Ensure proper table layout for both thead and tbody */
    width: 100%; /* Ensure both thead and tbody take full width */
  }
  
  .table-container thead th {
    position: sticky; /* Make the table header sticky */
    top: 0; /* Stick the header to the top */
    z-index: 1; /* Ensure the header appears above other content */
    background-color: #1A4D2E; /* Optional: Customize the background color */
    color: white; /* Optional: Customize the text color */
    padding: 10px;
    text-align: left;
  }
  
  .table-container tbody {
    display: block; /* Enable vertical scrolling for tbody */
    max-height: 420px; /* Optional: Set a maximum height for vertical scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .table-container tbody tr {
    display: table; /* Ensure proper table row layout */
    width: 100%; /* Ensure rows take full width */
  }
  
  .table-container tbody td {
    padding: 10px;
    text-align: left;
  }
  
  .table-container thead,
  .table-container tbody tr {
    display: table;
    table-layout: fixed; /* Ensure consistent cell widths */
    width: 100%;
  }
  
  .table-container table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  } 

