/* .container {
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
} */

.container {
  background-color: #f8f9fa; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  padding: 20px; 
  transition: margin-left 0.3s ease, width 0.3s ease;
}

.container.minimized {
  margin-left: 60px; /* Adjust based on the minimized sidebar width */
  width: calc(100% - 60px); /* Adjust based on the minimized sidebar width */
  max-width: calc(100% - 60px); /* Adjust based on the minimized sidebar width */
}

@media (max-width: 768px) {
  .container {
    margin-left: 60px; /* Adjust for minimized sidebar on small screens */
    width: calc(100% - 60px); /* Adjust for minimized sidebar on small screens */
    max-width: calc(100% - 60px); /* Adjust for minimized sidebar on small screens */
  }
}
.container.expanded {
  margin-left: 200px; /* Sidebar expanded width */
  width: calc(100% - 200px); /* Adjust based on the sidebar width */
  max-width: calc(100% - 200px); /* Adjust based on the sidebar width */
}


input[type="number"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.input-group {
  margin-bottom: 20px;
}

.reset-button {
  background-color: #858282; 
  color: black;
  border: none;
  padding: 6px 12px; 
  border-radius: 3px; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3); 
}

.reset-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.reset-button:hover:enabled {
  background-color: white; 
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5); 
}

.ribbon-calendar-container {
  margin-top: 20px;
}

.ribbon-calendar {
  display: flex;
  flex-wrap: wrap;
}

.ribbon-color {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.blue {
  background-color: #3498db;
  color: #fff;
}

.red {
  background-color: #e74c3c;
  color: #fff;
}

.yellow {
  background-color: #f1c40f;
  color: #fff;
}

.white {
  background-color: #ffffff;
  color: #000;
}

.purple {
  background-color: #9b59b6;
  color: #fff;
}

.orange {
  background-color: #e67e22;
  color: #fff;
}

.black {
  background-color: #000000;
  color: #fff;
}

.pink {
  background-color: #e91e63;
  color: #fff;
}

.table-container thead,
.table-container tbody {
  display: table; /* Ensure proper table layout for both thead and tbody */
  width: 100%; /* Ensure both thead and tbody take full width */
}

.table-container thead th {
  position: sticky; /* Make the table header sticky */
  top: 0; /* Stick the header to the top */
  z-index: 1; /* Ensure the header appears above other content */
  background-color: #1A4D2E; /* Optional: Customize the background color */
  color: white; /* Optional: Customize the text color */
  padding: 10px;
  text-align: left;
}

.table-container tbody {
  display: block; /* Enable vertical scrolling for tbody */
  max-height: 420px; /* Optional: Set a maximum height for vertical scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
}

.table-container tbody tr {
  display: table; /* Ensure proper table row layout */
  width: 100%; /* Ensure rows take full width */
}

.table-container tbody td {
  padding: 10px;
  text-align: left;
}

.table-container thead,
.table-container tbody tr {
  display: table;
  table-layout: fixed; /* Ensure consistent cell widths */
  width: 100%;
}

.table-container table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
} 

.search-bar {
  display: flex;
  justify-content: space-between;
  width: calc(25% - 5px);
  margin-right: auto;
}

.search-input-container {
  position: relative;
  width: 100%;
}

.search-input {
  font-size: 16px;
  padding: 5px 5px 5px 35px; 
  border-radius: 30px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 100%;
  height: 35px;
}

.search-icon {
  position: absolute;
  left: 15px;
  top: 40%;
  transform: translateY(-50%);
  color: #ccc;
  pointer-events: none; /* Prevent the icon from blocking input events */
}
